body {
    padding: 0;
    margin: 10px;
    text-align: center;
    background-color: black;
}

button {
    padding: 10px;
    font-weight: bold;
    background-color: #fff;
    color: black;
}