body {
    padding: 0;
    margin: 0;
}

.heading {
    border: 2px solid black;
    text-align: center;
}

.dark {
    display: flex;
}

.dark button {
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 40%;
    width: 80px;
    height: 30px;
    margin-top: 5%;
}

.dark button:hover {
    background-color: rgb(132, 156, 255);
    color: #fff;
}