body {
    background: #ff008b;
    margin: 0;
    padding: 0;
}

ul {
    padding: 0;
    margin: 0;
    border: 10px solid #fff;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

ul li {
    list-style: none;
    color: #fff;
    float: left;
    font-size: 4em;
    font-family: 'arial';
    transition: .9s;
}

ul:hover li {
    transform: rotateY(360deg);
}

ul:hover li:nth-child(1) {
    transition-delay: 0.9s;
}

ul:hover li:nth-child(2) {
    transition-delay: 0.8s;
}

ul:hover li:nth-child(3) {
    transition-delay: 0.7s;
}

ul:hover li:nth-child(4) {
    transition-delay: 0.6s;
}

ul:hover li:nth-child(5) {
    transition-delay: 0.5s;
}